/*Main site deco*/

body {

    background-color: #C0C0C0;
    height: 1250px;
}

header {
    color: white;
    float: right;
    width: 1150px;
    background-color: rgb(14, 14, 14);
    border: 3px groove rgb(92, 92, 92);
    text-align: center;
    margin: 50px;
}

/*Buttons*/

.button {
    background-color: rgb(36, 36, 36);
    border: none;
    color: rgb(255, 255, 255);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    width: 200px;
  }
  .button:hover {
    background-color:#1de303;
    transition: 0.7s;
}

.box:hover {
    
    transform: scale(1.2);
}

/*Boxes*/

#sidebox{
    
    background-color: rgb(14, 14, 14);
    width: 200px;
    height: 175%;
    padding: 12px;
    border: 3px groove rgb(92, 92, 92);
    position: absolute;
}

.box {

    width: 260px;
    height: 350px;
    background-color:rgb(36, 36, 36);
    border-radius: 20px; 
}

#box1 {

    position: relative;
    left: 300px;
    top: 300px;
}

#box2 {

    position: relative;
    left: 750px;
    bottom: 50px;
}

#box3 {

    position: relative;
    left: 1200px;
    bottom: 400px;
}

#box4 {

    position: relative;
    left: 300px;
    bottom: 300px;
}

#box5 {

    position: relative;
    left: 750px;
    bottom: 650px;
}

#box6 {

    position: relative;
    left: 1200px;
    bottom: 1000px;
}

/*Overeige Deco*/

.Images {

    width: 252px;
    border: 4px groove black;
    border-radius: 20px;
}

#Car_spotten_IMG {

    bottom: 190px;
    position: relative;
}

#video {

    position: absolute;
    z-index: -1;
    left: 15%;
    top: 40%;
    min-width: 1280px;
    min-height: 720px;
}

#mask {
    
    position: absolute;
    z-index: -1;
    left: 15%;
    top: 40%;
    width: 1280px;
    height: 720px;
}