/*Main site deco*/

body {

    background-color: #C0C0C0;
    height: 1500px;
    font-family:Tahoma ;
}

header {
    color: white;
    float: right;
    width: 1150px;
    background-color: rgb(36, 36, 36);
    border: 3px groove rgb(92, 92, 92);
    text-align: center;
    margin: 50px;
    border-radius: 12px;
    font-family:Tahoma ;
}

/*Buttons*/

.button {
    background-color: rgb(36, 36, 36);
    border: none;
    color: rgb(255, 255, 255);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    width: 200px;
    
  }
  .button:hover {
    background-color:#1de303;
    transition: 0.7s;
}

.box:hover {
    
    transform: scale(1.2);   
}

/*Boxes*/

#sidebox{
    
    background-color: rgb(14, 14, 14);
    width: 200px;
    height: 175%;
    padding: 12px;
    border: 3px groove rgb(92, 92, 92);
    position: fixed	;
    border-radius: 12px;
}

.box {

    width: 260px;
    height: 350px;
    background-color:rgb(36, 36, 36);
    border-radius: 20px;
    font-family:Tahoma ; 
    transition: .5s;
    
}


#box1 {

    position: relative;
    left: 300px;
    top: 200px;
    font-family:Tahoma ;
}

#box2 {

    position: relative;
    left: 750px;
    bottom: 150px;
    font-family:Tahoma ;
}

#box3 {

    position: relative;
    left: 1200px;
    bottom: 500px;
    font-family:Tahoma ;
}

#box4 {

    position: relative;
    left: 300px;
    bottom: 300px;
    font-family:Tahoma ;
}

#box5 {

    position: relative;
    left: 750px;
    bottom: 650px;
    font-family:Tahoma ;
}

#box6 {

    position: relative;
    left: 1200px;
    bottom: 1000px;
    font-family:Tahoma ;
    
}

#bestellen {

    width: 600px;
    background-color: rgb(36, 36, 36);
    color: white;
    position: absolute;
    left: 600px;
    bottom: -600px;
    text-align: center;
    border-radius: 20px;
    border: groove black 3px;
    font-size: larger;
}
    #bestellen:hover {

        transform: scale(1.1);
        color: black;
        background-color: rgb(252, 206, 0);
        transition: 1s;
        
    }
    #bestellen:active {

        background-color: #1de303;
    }

/*Overeige Deco*/

.Images {

    width: 252px;
    border: 4px groove black;
    border-radius: 20px;
}

#Car_spotten_IMG {

    bottom: 190px;
    position: relative;
}

#Car_spotten_text {

    bottom: 190px;
    position: relative;
}

#video {

    position: absolute;
    z-index: -1;
    left: 15%;
    top: 40%;
    width: 1280px;
    height: 720px;
}

#mask {
    
    position: absolute;
    z-index: -1;
    left: 15%;
    top: 40%;
    width: 1280px;
    height: 720px;
}

.H1_text {

    text-align: center;
    color: white;
}

#Orderimg {

    width:  65px;
    position: absolute;
    right: 400px;
    bottom: 20px;
    
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

  #login{
    background-color: rgb(36, 36, 36);
    border: none;
    color: rgb(255, 255, 255);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 12px;
    width: 100%;
    
  }
  
  #login:hover {
    background-color:#1de303;
    transition: .7s;
  }
  