body{
    background-color: 	#C0C0C0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
p{
    background-color: rgb(36, 36, 36);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-left: 240px;
    font-size: 50px;
    height: 70px;
    width: 200px;
    color: white;
    border-radius: 12px;
   

}

#sidebox{
    background-color: rgb(14, 14, 14);
    width: 200px;
    height: 100%;
    padding: 12px;  
    border: 3px groove rgb(92, 92, 92);
    position: absolute;
    
    
}
#header {
    font-family:Tahoma ;
    float: right;
    width: 1150px;
    background-color:  rgb(14, 14, 14);
    border: 3px;
    border-color: rgb(92, 92, 92);
    border-style: groove;
    text-align: center;
    margin: 30px;
    color: white;
    border-radius: 12px;
}

.button {
    background-color: rgb(36, 36, 36);
    border: none;
    color: rgb(255, 255, 255);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    width: 200px;
  }
  .button:hover {
    background-color:#1de303;
    transition: 0.7s;
}

video{
    width: 900px;
    margin-left: 450px;
    margin-top: 150px;
    position: absolute;
    border-radius: 24px;
}
