body{
    background-color: rgb(196, 127, 180);
}

#sidebox{
    background-color: rgb(0, 157, 255);
    width: 200px;
    height: 100%;
    padding: 5px;
    border: 3px groove aqua;
    position: absolute;
    
    
}
#header {

    float: right;
    width: 1150px;
    background-color: rgb(57, 81, 142);
    border: 3px;
    border-color: rgb(29, 180, 180);
    border-style: groove;
    text-align: center;
    margin: 30px;
    

}
