h1{text-align: center;}

header {

    float: right;
    width: 1150px;
    background-color: rgb(0, 90, 136);
    border: 3px;
    border-color: rgb(0, 55, 255);
    border-style: groove;
    text-align: center;
    margin: 30px;

}

body{background-color: rgb(196, 127, 180);}

#sidebox{
    background-color: rgb(14, 14, 14);
    width: 200px;
    height: 100%;
    padding: 12px;

    border: 3px groove rgb(92, 92, 92);
    position: absolute;}
    
 .button{
    background-color: rgb(36, 36, 36);
    border: none;
    color: rgb(255, 255, 255);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    width: 200px;}

  .button:hover{
    background-color:#1de303;
    transition: 0.7s;
}

#mailbox{
    float: right;
    width: 1150px;
    height: 200px;
    background-color: rgb(0, 90, 136);
    border: 3px;
    border-color: rgb(0, 55, 255);
    border-style: groove;
    text-align: center;
    margin-top: 30px;
    margin-right: 30px;

}

#phonebox{
    float: right;
    width: 1150px;
    height: 200px;
    background-color: rgb(0, 90, 136);
    border: 3px;
    border-color: rgb(0, 55, 255);
    border-style: groove;
    text-align: center;
    margin-top: 50px;
    margin-right: 30px;

}