
body{background: linear-gradient(0.25turn, #C0C0C0, white, rgb(36, 36, 36));
}

#header {

    float: right;
    width: 1150px;
    background-color: rgb(36, 36, 36);
    border: 3px;
    border-color:rgb(92, 92, 92);
    border-style: groove;
    text-align: center;
    margin: 30px;
    color: white;
    border-radius: 12px;
    font-family: tahoma;
}
#sidebox{
    background-color: rgb(14, 14, 14);
    width: 200px;
    height: 100%;
    padding: 12px;
    border: 3px groove rgb(92, 92, 92);
    position: fixed;
    border-radius: 12px;

}


    #infobox2{
background-color:rgb(36, 36, 36);
    width: 400px;
    height: 270px;
    padding: 5px;
    border: 3px groove rgb(92, 92, 92);
    position: absolute;
    left: 325px;
    top: 500px;
    color: white;
    font-family: tahoma;
    border-radius: 12px;
}
#infobox{
    background-color:rgb(36, 36, 36);
        width: 400px;
        height: 300px;
        padding: 5px;
        border: 3px groove rgb(92, 92, 92);
        position: absolute;
        left: 325px;
        top: 175px;
        color: white;
        font-family: tahoma;
        border-radius: 12px;
    }
#foto{
float: right;
 margin: 30px;
 height: 300px;
 border-radius: 12px;
 }
#foto1{
float:right;
margin: 30px;
margin-top: 350px;
margin-right: -480px;
height: 300px;
border-radius: 12px;
 }

 .button {
    background-color: rgb(36, 36, 36);
    border: none;
    color: rgb(255, 255, 255);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    width: 200px;
  }
  .button:hover {
    background-color:#1de303;
    transition: 0.7s;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

  #login{
    background-color: rgb(36, 36, 36);
    border: none;
    color: rgb(255, 255, 255);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 12px;
    width: 100%;
    cursor: pointer;
    
  }
  
  #login:hover {
    background-color:#1de303;
    transition: .7s;
  }
  