
body{background-color:rgb(196, 127, 180);}
#header {

    float: right;
    width: 1150px;
    background-color: rgb(0, 90, 136);
    border: 3px;
    border-color: aqua;
    border-style: groove;
    text-align: center;
    margin: 30px;
}
#sidebox{
    background-color:rgb(0, 90, 136);
    width: 200px;
    height: 100%;
    padding: 5px;
    border: 3px groove aqua;
    position: absolute;
}